// Tipografía
$font-family-base: 'Helvetica Neue', Arial, sans-serif;

// Definir los pesos de la fuente
$font-weight-regular: 400; // Regular
$font-weight-medium: 500; // Medium
$font-weight-bold: 700; // Bold


$primaryColor: #721515;
$secondaryColor: #FFFAFA;
$grayColor: #707070;